/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset Code */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=- */

/* -=-=-=-=- NAVBAR BEGIN =-=-=-=-=-= */

.navbar:hover {
  color: rgba(62, 5, 128, 0.658);
}

.navbar.scrolled {
  background: white;
  transition: background 800ms;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: "Montserrat", sans-serif;
  color: #5f5f5f;
}

a.nav-link:hover {
  color: rgba(62, 5, 128, 0.658) !important;
}

a.navbar-brand {
  font-family: "Montserrat", sans-serif;
  color: #4d4d4d !important;
  margin-right: 0;
}

a.navbar-brand:hover {
  color: rgba(62, 5, 128, 0.658) !important;
}

.navbar.scrolled {
  background: white;
  transition: background 800ms;
}
/* -=-=-=-=- NAVBAR end =-=-=-=-=-= */

/* =-=-=-=-=-=- GENERAL STYLES BEGIN -=-=-=-=-=-=-=-=-=- */

body {
  margin: 0;
  /* text-align: center; */
  font-family: "Merriweather", sans-serif;
  color: #40514e;
  overflow-x: hidden
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5em;
  color: #66bfbf;
}

.project-button {
  font-family: "Montserrat", sans-serif;
  border: 1.4px solid #66bfbf;
  color: #66bfbf;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  text-transform: uppercase;
  /* margin: 25px 0; */
  transition: background-color 200ms ease-in-out;
}

.project-button:hover {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #66bfbf;
  color: white;
  background-color: #66bfbf;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 25px 0;
  transition: background-color color 500ms ease-in-out;
}

.img-thumbnail {
  max-width: 50%;
}

.project-image {
  width: 100%;
  height: auto;
}
/* =-=-=-=-=-=- GENERAL STYLES END -=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=- HEADER BEGIN=-=-=-=-=-= */

#headingGroup {
  background-color: #e4f9f5;
  text-align: center;
}

#headingGroup h1 {
  font-size: 4rem;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}


#headingGroup .img-fluid {
    max-width: 60%;
    height: auto;
}
/* -=-=-=-=- HEADER END=-=-=-=-=-= */

/* -=-=-=-=- CONTENT SECTION BEGIN =-=-=-=-=-= */

#contentGroup h2 {
  text-align: center;
}

#quote-design1 {
  /* text-decoration: underline; */
  border-bottom: 1px solid #40514e;
  padding-bottom: 3px;
}

#quote-design2 {
  color: #11999e;
}

#quote-design3 {
  /* text-decoration: overline; */
  border-top: 1px solid #40514e;
  padding-top: 3px;
}

.quote {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  padding-top: 2%;
}

.content {
  text-align: center;
  height: 100%;
}

.content-spacing {
  margin-top: 100px;
  margin-bottom: 100px;
}

div.content-bg-web {
  background-color: #e4f9f5;
  background: linear-gradient(90deg, white 50%, #e4f9f5 50%);
}

div.content-bg-mobile {
  background-color: #e4f9f5;
  background: linear-gradient(90deg, #e4f9f5 50%, white 50%);
}

.content-image {
  background-color: white !important;
}

.blurb h2 {
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.fas {
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}

.img-fluid {
  width: 30%;
}

@media screen and (max-width: 992px) {
  div.content-bg-web, div.content-bg-mobile     {
    background:#e4f9f5;
  }
}
/* -=-=-=-=- CONTENT SECTION END=-=-=-=-=-= */

/*-=-=-=-=-=-= CONTACT FORM BEGIN-=-=-=-=-=-=-=- */
.contact-message {
  width: 75%;
  margin: 30px auto 60px;
  margin-bottom: 5px;
}




/*-=-=-=-=-=-= CONTACT FORM END -=-=-=-=-=-=-=- */
/*-=-=-=-=-=-= FOOTER BEGIN -=-=-=-=-=-=-=- */
footer {
  background-color: #66bfbf;
  padding: 20px 0 5px;
  /* text-align: center; */
}

i:hover {
  color: rgba(62, 5, 128, 0.658);
}

a:hover {
  text-decoration: none;
}

.copyright {
  margin-bottom: 0;
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 10px 0;
}
/*-=-=-=-=-=-= FOOTER END -=-=-=-=-=-=-=- */


